

/* Start:/bitrix/templates/transffer/components/bitrix/news.list/calculator/style.css?1591007447150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/transffer/components/bitrix/news.list/calculator/style.css?1591007447150 */

/*
     FILE ARCHIVED ON 18:12:48 Mar 31, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:41:03 Nov 06, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 78.409
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.064
  cdx.remote: 0.065
  esindex: 0.011
  LoadShardBlock: 51.279 (3)
  PetaboxLoader3.datanode: 177.476 (5)
  load_resource: 189.495
  PetaboxLoader3.resolve: 34.395
  loaddict: 105.437
*/